@model Hotel.Models.Review

<div class="row single-review">

    <div class="col-sm-offset-2 col-md-2 col-sm-3 text-center author-info">
        <div class="review-author">@Model.Author.UserName</div>
        <div class="review-date">@Model.CreationDate</div>
        <div>@(Model.Rating)</div>
    </div>

    <div class="col-md-8 col-sm-7  text-left review-body">
        <div>@Model.Content</div>

        <div id="editReview">
            @using (Ajax.BeginForm("EditReview", "ControlPanel", new AjaxOptions()
            {
                UpdateTargetId = "editReview",
                HttpMethod = "Post"
            }))
            {
                @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
                if (Model.IsPublished)
                {
                    @Html.HiddenFor(m => m.IsPublished, new { Value = false })
                    <div class="col-md-10">
                        <input type="submit" value="Скрий" class="btn btn-default" />
                    </div>
                }
                else
                {
                    @Html.HiddenFor(m => m.IsPublished, new { Value = true })
                    <div class="col-md-10">
                        <input type="submit" value="Публикувай" class="btn btn-default" />
                    </div>
                }
            }
        </div>

    </div>

    <div class="col-md-8 col-sm-7  text-left review-body">
        @Html.DisplayFor(m => m.Comments)
    </div>
</div>

@Scripts.Render("~/bundles/ajax")