@model Hotel.Models.Review

<div id="editReview@(Model.Id)">
    <div class="row single-review">

        <div class="col-sm-3 text-center author-info">
            <div class="review-author">@Model.Author.UserName</div>
            <div class="review-date">@Model.CreationDate</div>
            <div>@(Model.Rating)</div>
        </div>

        <div class="col-sm-9  text-left review-body">
            <div>@Model.Content</div>


            @using (Ajax.BeginForm("EditReview", "ControlPanel", new AjaxOptions()
            {
                UpdateTargetId = "editReview" + Model.Id,
                HttpMethod = "Post",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "success(" + Model.Id + ")"
            }))
            {
                <input name="id" type="hidden" value="@Model.Id">
                <label for="">Публикуван</label>
                <input checked="@Model.IsPublished" class="check-box" name="isPublished" type="checkbox" value="@Model.IsPublished">

                <input type="submit" value="Потвърди" class="btn btn-default" />
                <span class="success-message" id="entry@(Model.Id)">Успех!</span>
            }
            
        </div>
        <div class="col-md-8 col-sm-7  text-left review-body">
            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("_ReviewComment", comment)
            }
        </div>
    </div>
</div>


