@model Hotel.App.Models.ViewModels.ControlPanelViewModel

<h1 class="text-left">Контролен панел</h1>

@using (Html.BeginForm("ReviewsOption", "ControlPanel", FormMethod.Post))
{
    <div class="form-horizontal admin-form">

        <h3>Отзиви</h3><hr />
        <div class="row">
            <div class="form-group col-sm-3">
                @Html.HiddenFor(m => m.ReviewsType)
                <label for="reviewType" class="col-xs-12">Състояние</label>
                <select id="reviewType">
                    <option value="published">Публикувани</option>
                    <option value="unpublished">Непубликувани</option>
                    <option value="all">Всички</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                @Html.HiddenFor(m => m.ReviewsSortOrder)
                <label for="reviewSorting" class="col-xs-12">Сортиране</label>
                <select id="reviewSorting">
                    <option value="ascending">Възходящо</option>
                    <option value="descending">Низходящо</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                @Html.LabelFor(m => m.ReviewContent, "Съдържание", new { @class = "col-xs-12" })
                @Html.EditorFor(m => m.ReviewContent)
            </div>

            <div class="form-group col-sm-3">
                <input type="submit" value="Потвърди" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("AppointmentsOption", "ControlPanel", FormMethod.Post))
{
    <div class="form-horizontal admin-form">

        <h3>Резервации</h3><hr />
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="appType" class="col-xs-12">Състояние</label>
                <select id="appType">
                    <option value="approved">Публикувани</option>
                    <option value="unapproved">Непобликувани</option>
                    <option value="all">Всички</option>
                </select>
            </div>

            <div class="form-group col-sm-3">
                <label for="appSorting" class="col-xs-12">Сортиране</label>
                <select id="appSorting">
                    <option value="ascending">Възходящо</option>
                    <option value="descending">Низходящо</option>
                </select>
            </div>

            @Html.HiddenFor(m => m.AppointmentType)
            @Html.HiddenFor(m => m.AppointmentSortOrder)
            <div class="form-group col-sm-3">
                <input type="submit" value="Потвърди" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="row site-info-link">
    <h3>Сайт Инфо</h3><hr />
    <a href="/ControlPanel/EditSiteInfo" class="btn btn-danger">Редактирай</a>
</div>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/UI")
