@model Hotel.Models.Review

@{
    ViewBag.Title = "Създай отзив";
}

<h2>Напиши</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>oтзив</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="row">
            @Html.LabelFor(model => model.Rating, "Рейтинг", htmlAttributes: new { @class = "control-label col-md-2" })
                <input id="setRating" type="hidden" value="5">
                <div class="col-md-10 creare-review-rating">
                    <ul class="userRating">
                        <li Value="0" data-star="creare-review-0star"></li>
                        <li Value="1" data-star="creare-review-1star"></li>
                        <li Value="2" data-star="creare-review-2star"></li>
                        <li Value="3" data-star="creare-review-3star"></li>
                        <li Value="4" data-star="creare-review-4star"></li>
                        <li Value="5" data-star="creare-review-5star"></li>
                    </ul>
                    <span class="narration">Избери звезди</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, "Съдържание", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/reviews")
}
