@model Hotel.Models.Review

<h2 class="text-center">Детайли</h2>

<div class="row review-detail-wrapper">
    
    <div class="col-md-2 col-sm-3 text-right">Автор:</div>
    <div class="col-md-10 col-sm-9 text-left">
        <div class="review-author">@Model.Author.UserName</div>
    </div>

    <div class="col-md-2 col-sm-3 text-right">Дата на създаване:</div>
    <div class="col-md-10 col-sm-9 text-left">
        <div class="review-date">@Model.CreationDate</div>
    </div>

    <div class="col-md-2 col-sm-3 text-right">Рейтинг:</div>
    <div class="col-md-10 col-sm-9 text-left">
        <div class="empty-starts text-center"></div>
    </div>

    <div class="col-md-2 col-sm-3 text-right">Съдържание:</div>
    <div class="col-md-9 col-sm-8  text-left review-body">
        <div>@Model.Content</div>
    </div>

</div>

<h3 class="col-md-2 col-sm-3 text-right">Коментари</h3>
@Html.DisplayFor(m => m.Comments)

<div>
    @Html.ActionLink("Назад", "Index")
</div>
